.swiper-slide
  padding: .1rem
  box-sizing: border-box
.slide-content
  padding: .1rem
  background-color: #FBFBFB
  box-sizing: border-box
  font-size: 0.19rem
  line-height: 0.22rem
  padding-bottom: 0.4rem
  p
    margin: 0.15rem
      left: 0
      bottom: 0
.slide__header
  display: flex
  align-items: center
  height: 0.5rem
  img
    width: 0.32rem
    margin-right: 0.15rem
  span
    font-weight: bold

.likes
  display: flex
  align-items: center
  height: 0.4rem
  margin-top: 0.1rem
  img
    width: 0.45rem
    margin-right: 0.15rem

.comment
  display: flex
  align-items: center
  b
    margin-right: 0.15rem